In [1]:
import numpy as np
import pandas as pd

In [2]:
db = pd.read_csv('song_data.csv')

In [3]:
db.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [4]:
db.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity'],
      dtype='object')

In [5]:
db.isnull().sum()

Unnamed: 0          0
Track.Name          0
Artist.Name         0
Genre               0
Beats.Per.Minute    0
Energy              0
Danceability        0
Loudness..dB..      0
Liveness            0
Valence.            0
Length.             0
Acousticness..      0
Speechiness.        0
Popularity          0
dtype: int64

In [6]:
#data is clean so no further operation needed

In [7]:
db.shape

(50, 14)

In [10]:
fea_columns = ['Track.Name', 'Artist.Name', 'Genre','Loudness..dB..','Energy','Length.']

In [11]:
db[fea_columns].head(3)

,Track.Name,Artist.Name,Genre,Loudness..dB..,Energy,Length.
0,Se�orita,Shawn Mendes,canadian pop,-6,55,191
1,China,Anuel AA,reggaeton flow,-4,81,302
2,boyfriend (with Social House),Ariana Grande,dance pop,-4,80,186

In [12]:
def combine_features(fea_columns,data):
  combined_features = []
  for i in range(0, data.shape[0]):
    result = ''
    for feature in fea_columns:
      result = result + ' ' + str(data[feature][i]) 
    combined_features.append(result) 
  return combined_features

In [13]:
db['combined_features'] = combine_features(fea_columns,db)

In [14]:
db.tail(3)

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,combined_features
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88,Happier Marshmello brostep -3 79 214
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,Call You Mine The Chainsmokers edm -6 70 218
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82,Cross Me (feat. Chance the Rapper & PnB Rock)...

In [15]:
db.iloc[49]['combined_features']

' Cross Me (feat. Chance the Rapper & PnB Rock) Ed Sheeran pop -6 79 206'

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv.fit(db['combined_features'])
# cv.vocabulary_

CountVectorizer()

In [17]:
cv.vocabulary_

{'se': 240,
 'orita': 207,
 'shawn': 244,
 'mendes': 194,
 'canadian': 106,
 'pop': 218,
 '55': 56,
 '191': 19,
 'china': 112,
 'anuel': 84,
 'aa': 78,
 'reggaeton': 227,
 'flow': 139,
 '81': 73,
 '302': 44,
 'boyfriend': 96,
 'with': 276,
 'social': 249,
 'house': 157,
 'ariana': 85,
 'grande': 147,
 'dance': 122,
 '80': 72,
 '186': 18,
 'beautiful': 91,
 'people': 214,
 'feat': 138,
 'khalid': 169,
 'ed': 130,
 'sheeran': 245,
 '65': 61,
 '198': 23,
 'goodbyes': 146,
 'young': 280,
 'thug': 265,
 'post': 219,
 'malone': 186,
 'dfw': 124,
 'rap': 223,
 '175': 12,
 'don': 127,
 'care': 109,
 'justin': 167,
 'bieber': 92,
 '68': 62,
 '220': 34,
 'ransom': 222,
 'lil': 177,
 'tecca': 262,
 'trap': 270,
 'music': 198,
 '64': 60,
 '131': 3,
 'how': 158,
 'do': 126,
 'you': 279,
 'sleep': 246,
 'sam': 238,
 'smith': 247,
 '202': 26,
 'old': 205,
 'town': 268,
 'road': 232,
 'remix': 228,
 'nas': 199,
 'country': 119,
 '62': 59,
 '157': 5,
 'bad': 88,
 'guy': 150,
 'billie': 94,
 'eilish': 132,
 'electropop': 133,
 '11': 0,
 '43': 50,
 '194': 21,
 'callaita': 102,
 'bunny': 100,
 '251': 40,
 'loco': 179,
 'contigo': 117,
 'balvin': 89,
 'tyga': 273,
 'dj': 125,
 'snake': 248,
 '71': 65,
 '185': 17,
 'someone': 251,
 'loved': 183,
 'lewis': 176,
 'capaldi': 108,
 '41': 49,
 '182': 16,
 'otro': 208,
 'trago': 269,
 'sech': 242,
 'panamanian': 211,
 '79': 71,
 '288': 43,
 'money': 196,
 'in': 161,
 'the': 263,
 'grave': 148,
 'drake': 129,
 'ft': 141,
 'rick': 229,
 'ross': 237,
 'hip': 155,
 'hop': 156,
 '50': 54,
 '205': 27,
 'no': 203,
 'guidance': 149,
 'chris': 113,
 'brown': 99,
 '45': 51,
 '261': 41,
 'la': 171,
 'canci': 107,
 'latin': 174,
 '243': 39,
 'sunflower': 256,
 'spider': 252,
 'man': 188,
 'into': 162,
 'verse': 274,
 '48': 53,
 '158': 6,
 'lalala': 173,
 'y2k': 277,
 '39': 47,
 '161': 7,
 'truth': 272,
 'hurts': 159,
 'lizzo': 178,
 'escape': 135,
 'room': 235,
 '173': 11,
 'piece': 216,
 'of': 204,
 'your': 281,
 'heart': 153,
 'meduza': 193,
 '74': 68,
 '153': 4,
 'panini': 212,
 '59': 58,
 '115': 1,
 'me': 192,
 'conoce': 116,
 'jhay': 165,
 'cortez': 118,
 '309': 45,
 'soltera': 250,
 'lunay': 184,
 '78': 70,
 '266': 42,
 '195': 22,
 'if': 160,
 'can': 105,
 'have': 152,
 '82': 74,
 'monkey': 197,
 'tones': 267,
 'and': 81,
 'australian': 87,
 '210': 29,
 'it': 163,
 'ali': 79,
 'gatie': 145,
 '46': 52,
 '213': 30,
 'con': 115,
 'calma': 104,
 'daddy': 121,
 'yankee': 278,
 '86': 75,
 '193': 20,
 'que': 221,
 'pretendes': 220,
 '222': 35,
 'takeaway': 258,
 'chainsmokers': 110,
 'edm': 131,
 '51': 55,
 'rings': 231,
 '32': 46,
 '179': 14,
 '958333333333333': 77,
 'maluma': 187,
 '176': 13,
 'london': 180,
 'cole': 114,
 'travis': 271,
 'scott': 239,
 'atl': 86,
 '200': 25,
 'never': 201,
 'really': 225,
 'over': 210,
 'katy': 168,
 'perry': 215,
 '88': 76,
 '224': 36,
 'summer': 255,
 'days': 123,
 'macklemore': 185,
 'patrick': 213,
 'stump': 253,
 'fall': 137,
 'out': 209,
 'boy': 95,
 'martin': 191,
 'garrix': 144,
 'big': 93,
 '72': 66,
 '164': 9,
 '70': 64,
 '226': 37,
 'antisocial': 83,
 '162': 8,
 'sucker': 254,
 'jonas': 166,
 'brothers': 98,
 'band': 90,
 '73': 67,
 '181': 15,
 'fuck': 142,
 'lonely': 181,
 'anne': 82,
 'marie': 189,
 'from': 140,
 '13': 2,
 'reasons': 226,
 'why': 275,
 'season': 241,
 'lauv': 175,
 '56': 57,
 '199': 24,
 'higher': 154,
 'love': 182,
 'kygo': 170,
 '228': 38,
 'need': 200,
 'to': 266,
 'calm': 103,
 'down': 128,
 'taylor': 260,
 'swift': 257,
 '171': 10,
 'shallow': 243,
 'lady': 172,
 'gaga': 143,
 '216': 32,
 'talk': 259,
 '40': 48,
 'altura': 80,
 'rosal': 236,
 'en': 134,
 'espanol': 136,
 '69': 63,
 'one': 206,
 'thing': 264,
 'right': 230,
 'marshmello': 190,
 'brostep': 97,
 'te': 261,
 'robar': 233,
 'nicky': 202,
 'jam': 164,
 '75': 69,
 'happier': 151,
 '214': 31,
 'call': 101,
 'mine': 195,
 '218': 33,
 'cross': 120,
 'chance': 111,
 'rapper': 224,
 'pnb': 217,
 'rock': 234,
 '206': 28}

In [18]:
 cv = cv.transform(db['combined_features'])

In [19]:
cv

<50x282 sparse matrix of type '<class 'numpy.int64'>'
	with 430 stored elements in Compressed Sparse Row format>

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
cs = cosine_similarity(cv)
print(cs)

[[1.         0.         0.1118034  ... 0.         0.         0.09805807]
 [0.         1.         0.         ... 0.         0.         0.        ]
 [0.1118034  0.         1.         ... 0.         0.         0.0877058 ]
 ...
 [0.         0.         0.         ... 1.         0.         0.12403473]
 [0.         0.         0.         ... 0.         1.         0.09805807]
 [0.09805807 0.         0.0877058  ... 0.12403473 0.09805807 1.        ]]

In [21]:
cs.shape

(50, 50)

In [25]:
track_name = 'Happier'

In [26]:
music_id = db[db['Track.Name'] == track_name].index.values

In [27]:
music_id

array([47], dtype=int64)

In [28]:
selected_music_cs = cs[music_id]

In [29]:
selected_music_cs.shape

(1, 50)

In [30]:
type(selected_music_cs)

numpy.ndarray

In [31]:
sort_scores = np.argsort(selected_music_cs)

In [32]:
sort_scores.shape

(1, 50)

In [33]:
recommendation = sort_scores[:, sort_scores.shape[0]-12:-1]

In [34]:
recommendation

array([[17, 18, 19, 20, 12, 49, 22, 13, 29, 45]], dtype=int64)

In [35]:
type(recommendation.shape[1])

int

In [37]:
music = []
for i in range(0, recommendation.shape[1]):
  id = recommendation[0][i]
  music.append(db.iloc[id]['Track.Name'])

In [39]:
  music

['Sunflower - Spider-Man: Into the Spider-Verse',
 'Lalala',
 'Truth Hurts',
 'Piece Of Your Heart',
 'Someone You Loved',
 'Cross Me (feat. Chance the Rapper & PnB Rock)',
 'No Me Conoce - Remix',
 'Otro Trago - Remix',
 'QUE PRETENDES',
 'One Thing Right']